<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    p{
        margin-right: 20px;
    }
</style>
<body>
    <a href="/shows">Go Back</a>
    <h1>Add New Show</h1>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}


    <form action="/shows/create" method="post">
        {% csrf_token %}
    <p>Title: <input type="text" name="t" id=""></p>
    <p>Network: <input type="text" name="nw" id=""></p>
    <p>Release Date: <input type="date" name="rd" id=""></p>
    <p>Description: <textarea name="desc" id="" cols="30" rows="10"></textarea></p>
    <p><input type="submit" value="create"></p>
</form>
</body>
</html>